
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif;
    background: linear-gradient(45deg, #ffffff, #151517);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.login-container {
    width: 100%;
    max-width: 400px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 30px;
}

.login-form {
    text-align: center;
}

.login-form h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #333;
}


.input-group {
    margin-bottom: 20px;
    text-align: left;
}

.input-group label {
    font-size: 1rem;
    color: #333;
    margin-bottom: 5px;
    display: block;
}

.input-group input {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    outline: none;
    transition: border 0.3s ease;
}

.input-group input:focus {
    border-color: #4e73df;
}


.forgot-password {
    text-align: right;
    margin-bottom: 20px;
}

.forgot-password a {
    font-size: 0.9rem;
    color: #000000;
    text-decoration: none;
    transition: color 0.3s ease;
}

.forgot-password a:hover {
    color: #585858;
}


.login-btn {
    width: 100%;
    padding: 12px;
    background-color: #000000;
    color: white;
    font-size: 1.1rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-btn:hover {
    background-color: #4f4f4f;
}


.signup-link {
    margin-top: 20px;
    font-size: 0.9rem;
    color: #333;
}

.signup-link a {
    color: #000000;
    text-decoration: none;
}

.signup-link a:hover {
    text-decoration: underline;
}
